$colors = {
  gray_1 : #888888,
  gray_2 : #666666,
  light_gray_1 : #FAFAFA,
  light_gray_2 : #F5F5F5,
  light_gray_3 : #E6E6E6,
  light_gray_4 : #CCCCCC,
  green : #5DC2AF
}
$fsize = {
  s: 14 px,
  m : 24px,
  xl: 100px
}
$background_color = {
  task: white,
  task_hover : $colors.light_gray_1,
}
$border_color = {
  normal: $colors.light_gray_4,
  checkbox: $colors.green,
  task: $colors.light_gray_3,
}
$text_color = {
  action_bar: $colors.gray_1,
  task: $colors.gray_2,
  header: $colors.light_gray_4,
  checked: $colors.light_gray_4,
}
$font_family_main = "Roboto", sans-serif;

