.todo-list__task-item{
    display: flex;
    align-items: center;

    min-height: 64px;
    border-bottom: 1px solid #E6E6E6;
    box-sizing: border-box;
    font-size: 24px;
    color: #666666;
}
.todo-list__task-item:focus-within,
.todo-list__task-item:hover{
    background: #FAFAFA;
}

.task-item__view{
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.task-item__checkbox{           
    position: absolute;
    left: -9999px;
}
.task-item__check{
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid #CCCCCC;
    border-radius: 50%;
    box-sizing: border-box;
    flex-shrink:0;
}
.task-item__checkbox:checked + .task-item__check{
    border-color: #5DC2AF;
    background-image: url(../icons/check.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.task-item__checkbox:focus + .task-item__check{
     border-width:2px;
}
.task-item__checkbox:checked ~ .task-item__text{
    color: #CCCCCC;
    text-decoration-line: line-through;
}
.task-item:hover .task-item__delete,
.task-item__delete:focus{
    opacity: 1;
}
.task-item__text{
    width: 440px;
    height: 100%;
    padding: 10px;
}
.task-item__delete{
    flex-shrink: 0;

    width: 20px;
    height: 20px;
    margin: 10px;
    border: 0;
    font-size: 0;
    background-color: transparent;
    background-image: url(../icons/del.svg);
    background-position: center;
    box-sizing: border-box;
    background-repeat: no-repeat;
    opacity: 0;
}