@import "_vars.styl"

html, body{
  display: flex;
  flex-flow: column;
  align-items: center;

  font-family: $font_family_main;
  background-color:rgba(0, 0, 0, 0.0001);
  color: $text_color.header;
}
.todos-header{
  font-size: $fsize.xl;
}